---
---
@import "reset";
@import "bootstrap";

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


@import "variables";
@import "mixins";

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  height: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $open-sans;
  color: $darkGray;
  min-height: 100%;
  position: relative;
}

.container-fluid {
  padding-bottom: 80px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings;
  color: $purple;
  font-weight: bold;

  line-height: 1.4;
  margin: 3rem 0 5px;
  padding: 0;

  + p {
    margin-top: 0 !important;
  }

  @include sm-and-up {
    line-height: 1.7;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $darkGray;
  text-decoration: none;
	cursor: pointer;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $selection-color;
}
::selection {
  color: $black;
  background: $selection-color;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/
.masthead {
  padding: 20px 0;

  @include sm-and-up {
    a {
      display: block;
    }
  }

}

.heading--header {
  line-height: 1;
  font-size: 34px;
  margin-top:0;

  @include sm-and-up {
    max-width:150px;
    font-size: 50px;
    margin-top:3.125rem;
    margin-left: 20px;
    display: block;
  }
}


nav {
  margin-top: 9px;
  display: block;
  font-size: 16px;
  a:first-child:not(.social-icons) { margin-left: 0px; }
  
  @include sm-and-up {
    margin-top: 23px; 
    font-weight: lighter;
    font-size: 18px;
    a:first-child:not(.social-icons) { margin-left: 20px; }
  }

  a {
    margin: 0 10px;
    color: $darkGray;
    font-weight: 300;
    letter-spacing: 1px;

    &:hover, &:active {
      color: $blue;
    }

    @include sm-and-up {
      margin-left: 20px;
    }

  }


}

//
// .main
//

.main {
  a {
    border-bottom: 3px solid $link-color;
    box-shadow: inset 0 -4px 0 $link-color;

    &:hover, &:focus, &:active {
      background: $link-color;
    }
  }
}

 .heading--gradient {
    background: -webkit-linear-gradient(bottom, $gradient-1, $gradient-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.portfolio {
  column-count: 2;
  column-gap: 1em;

  // @include sm-and-up {
  //   column-count: 3;
  // }

  @include md-and-up {
    column-count: 4;
  }
}

.portfolio__item {
  margin: 0 0 1em;
  width: 100%;

  &:hover, &:focus, &:active {
    opacity: 0.7;
  }
}

.wrapper-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer {
  padding: 20px 0 10px 0;
  color: $med-gray;
  font-size: 0.8rem;
  text-align: right;
}


.post--single {
  position: relative;
}

.post--single__details {
  @include sm-and-up {
    padding-top: calc(3.125rem + 20px);
  }

  @include md-and-up {
    position: fixed;
    right: 0;
  }
}

.page {
  @include sm-and-up {
    padding-top: calc(3.125rem + 20px);
  }

  .heading--gradient {
    margin-top: 0;
  }
}

.tumblr-post {
  margin-bottom: 20%;
}

.icons-wrapper {
  margin-top: 20px;

  @include sm-and-up {
    margin-left: 20px;
  }
}

.social-icons {
  fill:  $icons-color;
  display: inline-block !important;
  margin-left: 0;
}

