@mixin xs-and-down {
    @media(max-width: #{$screen-xs-min}) {
        @content;
    }
}

@mixin sm-and-down {
    @media(max-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin sm-and-up {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin md-and-up {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin lg-and-up {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}