
//
// VARIABLES
//

// Colors

$teal: #17e1e3;
$purple: #3C225F;
$salmon: #F2A99F;
$salmon-dark: darken($salmon, 20);

$blue: $teal;

// Grays
$black: #20201F;
$darkGray: #333;
$gray: #666;
$med-gray: #999;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

$comforta: 'Comfortaa', cursive, serif;
$open-sans: 'Open Sans', Helvetica, Arial, sans-serif;
$abril: 'Abril Fatface', cursive, serif;

$headings: $abril;

$selection-color: $teal;
$link-color: $teal;
$icons-color: $purple;

$gradient-1: $purple;
$gradient-2: $teal;
$item-title-color: $teal;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}