
//
// VARIABLES
//

// Colors

$teal: #17e1e3;
$purple: #3C225F;
$salmon: #F2A99F;
$salmon-dark: darken($salmon, 20);

$darkblue: #221B53;
$pink: #FF2079;

$blue: $teal;

// Grays
$black: #20201F;
$darkGray: #333;
$gray: #666;
$med-gray: #999;
$lightGray: #eee;
$white: #fff;

// Font stacks
$marker: 'Permanent Marker', cursive;
$varela: 'Varela', sans-serif;

$headings: $marker;

$selection-color: $teal;
$link-color: $teal;
$icons-color: $pink;

$gradient-1: $purple;
$gradient-2: $teal;
$item-title-color: $teal;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}